{
    "orders":{
        "move":{
            "listPos":1,
            "targetingType" : "position",
            "lineColour" : [0,255,255],
            "image" : "/ab_commandmode/move.png",
            "alwaysVisible": true
        },
        "teleport":{
            "listPos":1.5,
            "targetingType" : "position",
            "lineColour" : [0,255,255],
            "image" : "/ab_commandmode/tele.png"
        },
        "attackmove":{
            "listPos":2,
            "targetingType" : "position",
            "lineColour" : [255,127,0],
            "image" : "/ab_commandmode/attackmove.png"
        },
        "patrol":{
            "listPos":3,
            "targetingType" : "position",
            "lineColour" : [0,127,255],
            "image" : "/ab_commandmode/patrol.png",
            "repeating":true
        },
        "holdposition":{
            "listPos":4,
            "targetingType" : "position",
            "lineColour" : [0,0,255],
            "image" : "/ab_commandmode/holdposition.png",
            "repeating":true
        },
        "guard":{
            "listPos":5,
            "targetingType" : "entity",
            "validTargetTypes" : ["player","monster","npc"],
            "lineColour" : [127,0,255],
            "image" : "/ab_commandmode/guard.png"
        },
        "change":{
            "listPos":6,
            "targetingType" : "none",
            "lineColour" : [255,255,255],
            "image" : "/ab_commandmode/change.png"
        },
        "addminion":{
            "listPos":7,
            "targetingType" : "none",
            "lineColour" : [0,255,0],
            "image" : "/ab_commandmode/addminion.png",
            "modeIconSize": 24,
            "modes": {
                "ranged":{
                    "listPos":1,
                    "image":"/ab_menus/minion_blaster.png"
                },
                "melee":{
                    "listPos":2,
                    "image":"/ab_menus/minion_melee.png"
                },
                "heal":{
                    "listPos":3,
                    "image":"/ab_menus/minion_healer.png"
                },
                "bomb":{
                    "listPos":4,
                    "image":"/ab_menus/minion_bomber.png"
                },
                "ranged2":{
                    "listPos":5,
                    "image":"/ab_menus/minion_swarmer.png"
                },
                "shield":{
                    "listPos":6,
                    "image":"/ab_menus/minion_shielder.png"
                },
                "sniper":{
                    "listPos":7,
                    "image":"/ab_menus/minion_sniper.png"
                },
                "analysis":{
                    "listPos":8,
                    "image":"/ab_menus/minion_analyzer.png"
                }
            }
        },
        "attack":{
            "listPos":8,
            "targetingType" : "entity",
            "validTargetTypes" : ["player","monster","npc"],
            "lineColour" : [255,0,0],
            "image" : "/ab_commandmode/attack.png"
        },
        "attackpos":{
            "listPos":9,
            "targetingType" : "position",
            "lineColour" : [255,0,0],
            "image" : "/ab_commandmode/attackpos.png"
        },
        "heal":{
            "listPos":10,
            "targetingType" : "entity",
            "validTargetTypes" : ["player","monster","npc"],
            "lineColour" : [0,255,0],
            "image" : "/ab_commandmode/heal.png"
        },
        "lift":{
            "listPos":11,
            "targetingType" : "entity",
            "validTargetTypes" : ["mobile"],
            "lineColour" : [255,255,0],
            "image" : "/ab_commandmode/lift.png",
            "allowNoTarget" : true
        },
        "suicide":{
            "listPos":12,
            "targetingType" : "none",
            "lineColour" : [255,0,0],
            "image" : "/ab_commandmode/suicide.png"
        },
        "killshield":{
            "listPos":13,
            "targetingType" : "none",
            "lineColour" : [255,0,255],
            "image" : "/ab_commandmode/killshield.png"
        },
        "togglepassive":{
            "listPos":14,
            "targetingType" : "none",
            "lineColour" : [0,255,0],
            "image" : "/ab_commandmode/passive.png"
        },
        "merge":{
            "listPos":15,
            "targetingType" : "entity",
            "targetingMode" : "itemRecipient",
            "validTargetTypes" : ["player","monster","object"],
            "lineColour" : [0,255,0],
            "image" : "/ab_commandmode/merge.png"
        },
        "fuse":{
            "listPos":16,
            "targetingType" : "entity",
            "targetingMode" : "fuser",
            "validTargetTypes" : ["monster"],
            "lineColour" : [127,0,255],
            "image" : "/ab_commandmode/fuse.png"
        },
        "takefromchest":{
            "listPos":17,
            "targetingType" : "entity",
            "targetingMode" : "container",
            "validTargetTypes" : ["object"],
            "lineColour" : [0,0,255],
            "image" : "/ab_commandmode/takefromchest.png"
        },
        "mine":{
            "listPos":18,
            "targetingType" : "none",
            "lineColour" : [127,127,127],
            "image" : "/ab_commandmode/mine.png"
        },
        "config":{
            "listPos":20,
            "targetingType" : "none",
            "lineColour" : [127,127,127],
            "image" : "/ab_commandmode/config.png",
            "updateFunc": "updateConfig",
            "unuseable" : true
        }
    },
    "bars": [
        {
            "colour" : [255,0,0],
            "isHealth" : true
        },
        {
            "colour" : [0,255,0],
            "valFunc" : "command_energy",
            "maxFunc" : "command_energyMax",
            "lockedFunc" : "command_energyLocked",
            "lockedColour" : [127,127,127],
            "regenDelayFunc" : "command_energyRegenDelayPerc",
            "regenDelayColour" : [0,64,255]
        },
        {
            "colour" : [0,127,255],
            "valFunc" : "command_shield",
            "maxFunc" : "command_shieldMax",
            "lockedFunc" : "command_shieldLocked",
            "lockedColour" : [0,64,127],
            "regenDelayFunc" : "command_shieldRegenDelayPerc",
            "regenDelayColour" : [255,0,0]
        },
        {
            "colour" : [255,127,0],
            "valFunc" : "command_progress",
            "maxFunc" : "command_progressMax"
        }
    ]
} 
