{
    "whitelist":[
        "bed1",
        "bed2",
        "bed3",
        "bed4",
        "bed5",
        "bed6",
        "playerbeamin",
        "wellfed",
        "statusimmunity",
        "glitchStuff",
        "novakidStuff",
        "dontstarve",
        "breathprotectionvehicle",
        "invulnerable",
        "electricblock",
        "iceblock",
        "poisonblock",
        "fireblock",
        "sb_poisoncreepimmunity",
        "ivrpganimation",
        "critReady",
        "nofallinvis",
        "knightblock",
        "soldierdiscipline",
        "explorerglow",
        "organicsoupeffect",
        "terraria_impendingdoom",
        "waterimmunity",
        "om_racetraits",
        "hubsnuggetcolor",
        "pu_directives",
        "b_shieldGen",
        "ut_maineffect",
        "dynamicpassiveaction",
        "dynamicsoundeffectmanager",
        "thea-repairpod",
        "redstim",
        "starchatdots",
        "littlebigjump",
        "gic_khurtovyna_darkone_pingspawner",
        "quad_iris"
    ],
    "finds":[
        "augment",
        "cast",
        "regen",
        "heal",
        "boost",
        "protection",
        "resist",
        "rage",
        "setbonus",
        "speciesimmune",
        "handler",
        "ivrpg",
        "sb_killcount",
        "pu_tech_",
        "mt_tech_",
        "scc",
        ["gic_","StatusImmunity"]
    ]
}
